{% extends 'base.html.twig' %}

{% block body %}
<!-- home section -->
<section id="home">
    <div class="container" style="margin-bottom:20%; margin-top:25%">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="color:black">
                <h3>EDUCATION CONSULTING / ONLINE COURCES / FREE WEB TRAININGS</h3>
                <hr>
            </div>
            <div class="subscribe-form" >
                <div class= "row">
                    
                    {{ form_start(form1, {'attr': {'novalidate': 'novalidate'}}) }}
                    
                    <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        {{ form_label(form1.firstname) }}
                        {{ form_widget(form1.firstname) }}
                    </div>
                    <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        {{ form_label(form1.lastname) }}
                        {{ form_widget(form1.lastname) }}
                    </div>	
                    <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        {{ form_label(form1.emailaddress) }}
                        {{ form_widget(form1.emailaddress) }}
                    </div>
                    <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                        <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                        {{ form_label(form1.phone) }}
                        {{ form_widget(form1.phone) }}
                    </div>
                    <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f dropdown">
                        <span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
                        {{ form_label(form1.education_level_id) }}
                        {{ form_widget(form1.education_level_id) }}
                    </div>
                    <div class="picklist-style">
                        <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                            {{ form_widget(form1.agreeterms) }}
                            <lable> {{ 'I have read and agreed to ' }} <a href="{{ path('terms') }}"> {{ 'SmartEduPics Terms & Conditions' }} </a> </lable>
                            {{ form_row(form1.agreeterms) }}
                        </div>
                        <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                            {{ form_widget(form1.agreeemails) }}
                             <lable> {{ 'I want to get emails from SmartEduPics.com' }} </lable>
                            {{ form_row(form1.agreeemails) }}
                        </div>
                        <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                            {{ form_widget(form1.agreepartners) }}
                            <lable> {{ 'I want to get mails from Partners of SmartEduPics.com' }} </lable>
                            {{ form_row(form1.agreepartners) }}
                        </div>
                    </div>
                        {{ form_row(form1.submit, { 'label': 'Subscribe to join' }) }}
                    
                    {{ form_end(form1) }}
                    
                </div>
            </div>
        </div>
    </div>
</section>
                    <section>
                                                                         <div class="window-BG" id="alert">
                <div class="window">
                    <div id="alert-title" class="win-img-text">{{ 'Please solve below errors'|trans }}:</div>
                    <div id="alert-text" class="win-text">
                        <div style="color: white; text-align: justify;">
                            {{ form_errors(form1) }}
                        </div>    
                    </div>
                    <div class="window-close win-close-2">{{ 'Close'|trans }}</div>
                </div>
            </div>
                    </section>
                    
<!-- work section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1 class="heading bold">WHAT WE DO</h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <i class="icon-book-open medium-icon"></i>
                    <h3>EDUCATION CONSULTING</h3>
                    <hr>
                    <p>You know what you want to study but not sure what is the best place to do it. Find your ultimate guide in one of <strong> SmartEduPicks.com </strong> email campaigns</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                <i class="icon-presentation medium-icon"></i>
                    <h3>ADMITION TIPS &amp TRICKS</h3>
                    <hr>
                    <p>You have narrowed down the list of schools you want to apply, but not sure what is the right way to do it. Get free advice in one of our designated email campaigns.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-layers medium-icon"></i>
                    <h3>ONLINE COURCES &amp TRAININGS</h3>
                    <hr>
                    <p>Already have a degree and want to expand your knowledge is a specific area - sign up for an online training cource from one of SmartEduPicks.com partners.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-pictures medium-icon"></i>
                    <h3>CORPORATE WORKSHOPS</h3>
                    <hr>
                    <p>Get the team spirit of the charts with one of hundreds of teambuilding workshops available with world's most experienced suppliers.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-bargraph medium-icon"></i>
                    <h3>LIFE COACHING PRACTICES</h3>
                    <hr>
                    <p>Get your Zen up to scratch with one of hundreds of of life coaching training available with SmartEduPicks partner offers.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-tools medium-icon"></i>
                    <h3>TOP EDUCATION VENDORS</h3>
                    <hr>
                    <p>Here at SmartEduPicks we are mindful of the quality and added value of cources provided by our partners</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-laptop medium-icon"></i>
                    <h3>MANDATORY TRAININGS</h3>
                    <hr>
                    <p>Get the most benefit out of mandatory employee training when you needed it. Need knowledge refresh - you can always go back to it with SmartEduPicks.com.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-chat medium-icon"></i>
                    <h3>PROFESSIONAL ADVANCMENT</h3>
                    <hr>
                    <p>Increase you employability and potential for career growth with one of many professional trainings and courses at prices close to nothing.</p>
            </div> 
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-happy medium-icon"></i>
                    <h3>LIFE-LONG EDUCATION</h3>
                    <hr>
                    <p>In SmartEduPicks we believe it is never too late to learn something new. Whether it is a small course or complete career changer.</p>
            </div>
        </div>
    </div>
</section>

<!-- about section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                        <h1 class="heading bold">About us</h1>
                        <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{{ asset('images/about-img.jpg')}}" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="bold">SmartEduPicks.com in a nutshell</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">MISSION</a></li>
                    <li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">VISION</a></li>
                    <li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">STATEMENT</a></li>
                </ul>
                <!-- tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="design">
                        <p>Here in SmartEduPicks.com we have a strong beliefe that knowledge is power. With this in mind, we are on the mission to empower our subscribers to geth access to industry's leading knowldege resources.</p>
                        <p>Whether it's a simple practical course which takes couple of hours to complete or multi-level training program - SmartEduPicks is your reliable partner.</p>
                        <p>Only with SmartEduPicks.com you will be the first one to get access to the newest education resources for free or a minimum fee.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mobile">
                        <p>SmartEduPicks.com is commited to potentially increasing knowledge level of its subscribers via regular email campaigns containing education and training offers from top universities, education centers and training facilities.</p>
                        <p>By constantly encreasing number of partners and offers available as well as maintaining positive growth in subscriber base, we are contribute to narrowing the gap between skills posessed by the specialists and those required by the industry.</p>
                        <p>Subscribe with us and join the exiting world where knowledge has no limits</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="social">
                        <p>At SmartEduPicks.com our mission is to facilitate affordable access to knowledge and education for the many people. Our business idea supports this vision by offering wide range of well-designed email campaigns with education and training offers at prices so low
                        that as many people as possible will be able to afford it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1 class="heading bold">MOST POPULAR COURCES</h1>
                    <hr>
                </div>
                <!-- ISO section -->
                <div class="iso-section">
                    <ul class="filter-wrapper clearfix">
                        <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".html">For beginners</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Advanced</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Creative</a></li>
                    </ul>
                </div>    
                <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                    <div class="iso-box-wrapper col4-iso-box">
                        <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img1.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Accountancy &amp Bookkeeping</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="{{ path('index') }}" data-rel="lighbox" class="expand"> </a> -->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box photoshop wordpress html col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img2.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Business</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img2.jpg" data-rel="lighbox" class="expand"> </a> -->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box html col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img3.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Computing Basics & Essentials</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img3.jpg" data-rel="lighbox" class="expand"> </a> -->
                                </div>
                            </div>
                        </div>

                        <div class="iso-box html wordpress col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img4.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Creative & Design</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img4.jpg" data-rel="lighbox" class="expand"> </a> -->
                                </div>
                            </div>
                        </div>

                        <div class="iso-box html wordpress col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img5.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Employability</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img5.jpg" data-rel="lighbox" class="expand"> </a>-->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img6.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                        <h3>Marketing</h3>
                                        <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                           With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                        <a href="images/portfolio-img6.jpg" data-rel="lighbox" class="expand"> </a>
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box photoshop wordpress col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img7.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Neuro Linguistic Programming</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img7.jpg" data-rel="lighbox" class="expand"> </a> -->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img8.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Programming & Development</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img8.jpg" data-rel="lighbox" class="expand"> </a>-->
                                </div>
                            </div>
                        </div>

                        <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img9.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Project & Quality Management</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img9.jpg" data-rel="lighbox" class="expand"> </a>-->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box html col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img10.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Microsoft Office</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img10.jpg" data-rel="lighbox" class="expand"> </a>-->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box html wordpress col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img11.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>Languages</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img11.jpg" data-rel="lighbox" class="expand"> </a>-->
                                </div>
                            </div>	
                        </div>

                        <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6 portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('images/portfolio-img12.jpg')}}" alt="portfolio img">
                                <div class="portfolio-overlay">
                                    <h3>I.T & Networking</h3>
                                    <p>Here in Jobbery we know how hard can it be to find a matching career opportunity for niche professionals. On the other hand getting a right man for a very specific job might be as challanging.
                                       With this in mind, Jobbery will aim to provide industry's widest coverage to make sure <span> <b> Everyone can find a matching job </b> </span> </p>
                                    <!--<a href="images/portfolio-img12.jpg" data-rel="lighbox" class="expand"> </a>-->
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
